body {
  background-color: #252d4a;
  text-align: center;
  min-width: 100vw;
  min-heigth: 100vh;
}
#root {
  text-align: center;
  width: 100vw;
  min-heigth: 100vh;
}

.app {
  background-color: #252d4a;
}
